@{
    ViewData["Title"] = "Home Page";
}

@*<div id='app-root'>Loading...</div>*@

@section scripts {
    @*<script src="~/dist/js/main.2b2a7504fcfe162bd6b8.js" asp-append-version="true"></script>*@
}
